html{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
body{
    background-image: url(../img/achtergrond.png);
    background-size: cover;
    font-size: 100%
    font-style: italic;
    font-weight: bolder;
    text-align: left;
    color: black;
    background-repeat: no-repeat;
}
hr {
    height: 5px;
    color: black;
    background-color: black;
    border: none;
    margin-left:0;
    width: 400px;
}
#bon{
    margin: 0 auto;
    min-width: 400px;
    background-color: #c4d1cf;
    border-radius: 15px;
    -moz-border-radius: 15px;
    border: 5px dotted black;
    margin-left: 25px;
    margin-top: 25px;
    padding: 10px;
    display: none;
}